$global-font-family: Arial, Tahoma, sans-serif;
$global-font-size: 14px;
$global-color: #000;
$global-background-color: #fff;
$global-line-height: 1.4;


$headings-font-weight: 700;
$headings-color: #000;
$headings-line-height: 1.2;

$heading-font-size-h1: 36px;
$heading-margin-h1: 10px 0;

$heading-font-size-h2: 32px;
$heading-margin-h2: 9px 0;

$heading-font-size-h3: 28px;
$heading-margin-h3: 8px 0;

$heading-font-size-h4: 22px;
$heading-margin-h4: 7px 0;

$heading-font-size-h5: 16px;
$heading-margin-h5: 6px 0;

$heading-font-size-h6: 10px;
$heading-margin-h6: 5px 0;

$paragraph-margin: 0 0 10px 0;

body{
    font-family: $global-font-family;
    font-size: $global-font-size;
    color: $global-color;
    background-color: $global-background-color;
    line-height: $global-line-height;
}

h1,h2,h3,h4,h5,h6{
    font-weight: $headings-font-weight;
    color:$headings-color;
    line-height: $headings-line-height;
}

h1{
    font-size: $heading-font-size-h1;
    margin: $heading-margin-h1;
}

h2{
   font-size: $heading-font-size-h2;
   margin: $heading-margin-h2;
}

h3{
   font-size: $heading-font-size-h3;
   margin: $heading-margin-h3;
}

h4{
   font-size: $heading-font-size-h4;
   margin: $heading-margin-h4;
}

h5{
   font-size: $heading-font-size-h5;
   margin: $heading-margin-h5;
}

h6{
   font-size: $heading-font-size-h6;
   margin: $heading-margin-h6;
}

p{
    margin: $paragraph-margin;
}

a{
    color: #000;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}