$default-color:    #fff;
$primary-color:    #337ab7;
$success-color:    #5cb85c;
$info-color:       #5bc0de;
$warning-color:    #f0ad4e;
$danger-color:     #d9534f;
$font-color:       #fff;
$font-size:        #fff;
$default-font:     #000;
$normal-color:     #aab2bd;